       body {
            display: flex;
            justify-content: center;
            allign items: center;
            text-align: center;
            background-color: black; 
            color: darkgoldenrod; 
       }
        
        table {
            background:darkgrey;
            color: black; 
        }
        
        th, td {
            border: 1px solid black; 
        }
        
        a {
            color: #ffcc00; 
        }
